
<!-- Aca se genera el carrito -->
<aside id="carrito" class="w-1/4 p-4 border-l bg-gray-50">
  <!--   <h2 class="text-xl font-semibold mb-2">Carrito</h2> -->
  <table class="w-full table-fixed text-sm" id="tabla-carrito">
    <thead>
      <tr>
        <th class="w-1/2">Producto</th>
        <th class="w-1/2">Cant.</th>
        <th class="w-1/2">Precio</th>
        <th class="w-1/2">Operación</th>
      </tr>
    </thead>
    <tbody id="tbodyCarrito" class="tr-carrito">

    </tbody>
  </table>
  <div class="mt-4 font-bold text-white">
    Total: $<span id="total-carrito">0</span>
  </div>
  <button id="finalizar-venta"
    class="mt-4 bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700 w-full">Finalizar
    Venta</button>
</aside>