<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>

    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100 flex items-center justify-center min-h-screen" style="margin: 0;
    background-color: #030303; color: #d3d3d3;">

    <div class="w-full max-w-sm bg-white p-8 rounded shadow-md" style="background-color: #1a1a1a">
      <!-- Mensajes flash -->
      {% include 'mensajes/mensaje.html' %}

      <h1 class="text-2xl font-semibold text-center text-gray-700 mb-6" style="font-family: 'Libre Baskerville', serif;">Iniciar
        sesión</h1>

      <form action="{{ url_for('login.verificar_usuario_route') }}"
        method="POST" class="space-y-4">
        <div>
          <label for="dni_usuario"
            class="block text-sm font-medium text-gray-600" style="font-family: 'Libre Baskerville', serif;">DNI</label>
          <input type="text" name="dni_usuario" id="id_dni" required
            class="mt-1 w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" style="
    background-color: #181818; /* negro suave */
  color: #f0f0f0; /* texto claro */
  border: 1px solid #555; /* borde gris oscuro */
  font-family: 'Libre Baskerville', serif; /* si estás usando esa fuente */
" />
        </div>

        <div>
          <label for="password"
            class="block text-sm font-medium text-gray-600" style="font-family: 'Libre Baskerville', serif;">Contraseña</label>
          <input type="password" name="password" id="id_password" required
            class="mt-1 w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" style="
    background-color: #181818; /* negro suave */
  color: #f0f0f0; /* texto claro */
  border: 1px solid #555; /* borde gris oscuro */
  font-family: 'Libre Baskerville', serif; /* si estás usando esa fuente */
" />
        </div>

        <button type="submit"
          class="w-full bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 rounded-md transition duration-200" style="padding: 10px 20px;
    background-color: #420c14;
    color: #d3d3d3">
          Entrar
        </button>
      </form>
    </div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- DataTables JS -->
    <script
      src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <!-- Script para DataTable -->
    <script src="{{ url_for('static', filename='js/DataTable.js') }}"></script>

    <!-- Script para Sweet alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Script para los mensajes -->
    <script src="{{ url_for('static', filename='js/mensajes.js') }}"></script>
  </body>
</html>
