<div id="productos">
  <!-- Aca se generan los botones de los productos -->
  {% for producto in productos %}
  <button
    {% if producto[3] == 0 %}
    disabled
    class="boton-ventana estiloBtn btn-producto btn-disabled"
    {% endif %}
    type="button"
    class="boton-ventana estiloBtn btn-producto"
    data-id="{{ producto[1] }}"
    data-nombre="{{ producto[2] }}"
    data-precio="{{ producto[4] }}">
    {{ producto[2] }} - ${{ producto[4] }}
  </button>
  {% endfor %}

  <button></button>
</div>
