{%extends 'base.html' %}
{% block title %} VENTA {%endblock%}

<!-- Botones de la página -->
{% block buttons %}
<a href class="boton-ventana estiloBtn">AGREGAR</a>
<a href class="boton-ventana estiloBtn">ELIMINAR</a>
<a href class="boton-ventana estiloBtn">FINALIZAR</a>
{%endblock%}

<!-- Contenido de la página -->
{% block content %}
<!-- Se incluye el contenido de venta, es un listado de los productos con su precio (ver si lo dejamos como botones o listado) -->
{% include 'VentaLista.html' %}
{% endblock %}
